<!-- > d_breadcrumb -->
<div id="breadcrumb">
  <div class="wrapper">
    <div class="container">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.href %}
                <li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
            {% else %}
                <li>{{breadcrumb.text}}</li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- /> d_breadcrumb -->